.contact {

}

.contact form {
	display: flex;
	flex-direction: column;
}

.contact form label {
	display: grid;
	margin: 10px 0;
}

.contact form textarea {
	width: 500px;
	height: 250px;
	margin-bottom: 25px;
	border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.5);
}
.contact form input {
	width: 250px;
    height: 30px;
    border-radius: 5px;
   	border: 1px solid rgba(0,0,0,0.5);
}

.contact form button {
	background: rgb(191, 191, 230, 0.3);
    width: 250px;
    height: 45px;
    text-align: center;
    border-radius: 5px;
    border: 1px transparent;
    transition: all 0.5s ease;
}

.contact form button:hover {
	box-shadow: 5px 5px 10px 0px rgba(0,0 ,0 , 0.05);
	transition: all 0.5s ease;
}