.work {

}

.workgrid {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.workitem {
    width: 100%;
	background: rgb(191, 191, 230, 0.2);
    padding: 15px;
    border-radius: 5px;
    margin: 10px 0;
}